<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Todo App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <div class="card col-md-10 mx-auto border-default">
            <div class="card-header bg-default">
                <span class="d-flex justify-content-between">
                    <div class="card-title fs-5 fw-bold">Confirm Delete</div>
                    <a href="/" class="btn btn-dark fw-bold">Back</a>
                </span>
            </div>
            <div class="card-body">
                <p class="text-danger fw-bold">Are you sure to delete this todo?<span>
                  <a href="#" class="btn btn-dark">No!</a> 
                  <a href="#" class="btn btn-danger mx-3">Yes</a>  
                </span></p>
                  
            </div> 
        </div>
    </div>
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>