<%- include('partials/header') %>
    <div class="container my-5">
        <div class="card col-md-10 mx-auto border-default">
            <div class="card-header bg-default">
                <span class="d-flex justify-content-between">
                    <div class="card-title fs-5 fw-bold">Confirm Delete</div>
                    <a href="/" class="btn btn-dark fw-bold">Back</a>
                </span>
            </div>
            <div class="card-body">
                <p class="text-danger fw-bold">Are you sure to delete this todo?<span>
                  <a href="/confirm-delete?id=<%=id%>&confirm=no" class="btn btn-dark">No!</a> 
                  <a href="/confirm-delete?id=<%=id%>&confirm=yes" class="btn btn-danger mx-3">Yes</a>  
                </span></p>
                  
            </div> 
        </div>
    </div>
<%- include('partials/footer') %>